dist: xenial

language: python

python:
  - "3.7"

cache: pip

install:
  - pip install -r test_requirements.txt
  - pip install -e .

script: 
  - flake8
  - pytest

branches:
  only:
    - master
    - polyclonal

notifications:
  slack: jbloomlab:kkopSfK2B3d2QYQGpPcDMVHx
